@font-face {
	font-family: 'Bruh';
	src: url('../fonts/BAHNSCHRIFT.eot');
	src: local('☺'), url('../fonts/BAHNSCHRIFT.woff') format('woff'), url('../fonts/BAHNSCHRIFT.ttf') format('truetype'), url('../fonts/BAHNSCHRIFT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Franklin';
	src: url('../fonts/Franklin Gothic Medium Regular.eot');
	src: local('☺'), url('../fonts/Franklin Gothic Medium Regular.woff') format('woff'), url('../fonts/Franklin Gothic Medium Regular.ttf') format('truetype'), url('../fonts/Franklin Gothic Medium Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri-regular.eot');
	src: local('☺'), url('../fonts/calibri-regular.woff') format('woff'), url('../fonts/calibri-regular.ttf') format('truetype'), url('../fonts/calibri-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}







body{
	font-family:Arial, sans-serif;
}

.lineob{
  border: 2px solid #d17700;
  width: 75px;
margin-top: 30px;
}

.linegw{
	border: 1px solid #d1d1d1;
	width: 30px;
}

 /*Сверху частоиспользуемые и основные при разработке сайта аспекты lineob line orange baby это оранджевая линия, а linegw серая line grey width*/ 










 /*   <Анимации>   */

@keyframes comming{
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}

@keyframes down{
	0%{
		opacity: 0;
		margin-top: -80px;
	}
	
	100%{
		opacity: 1;
		margin-top: 0px;
	}
}

@keyframes menuanim{
	0%{
		opacity: 0;
		margin-left: -700px;
	}
	
	100%{
		opacity: 1;
		margin-left: 20%;
	}
}

@keyframes volna{
	0%{
		margin-top: 0px;
	}
	
	50%{
		margin-top: -5px;
	}
	
	100%{
		margin-top: 0px; 
	}
}


 /*   </Анимации>   */ 














 /* Список сверху Андрей Браун   ОБО МНЕ  УСЛУГИ   КЕЙСЫ   ПРАЙЗ   ОТЗЫВЫ   КОНТАКТЫ*/ 

.spisoc{
	width: 100%;
	height: 60px;
	background-color: #344051;
	color: white;
	position: fixed;
	z-index: 2;
}

.logo{
	font-size: 30px;
	line-height: 60px;
	padding-left: 15%;
	float: left;
	-webkit-animation: comming 2s;
	-o-animation: comming 2s;
	animation: comming 2s;
	font-family: "Franklin";
}

.menu{
	float: left;
	padding-left: 30%;
	font-family: "Franklin";
}

.menu li{
	float: left;
	line-height: 60px;
	margin-right: 40px;
	font-size: 17px;
	text-transform: uppercase;
	-webkit-animation: down 0.4s forwards;
	-o-animation: down 0.4s forwards;
	animation: down 0.4s forwards;
	opacity: 0;
}


.menu li a{
	transition: all 0.25s;
	color:white;
	transform: scale(1);
	display: inline-block;
}

.menu li a:visited{
	color: white;
}


.menu li a:hover{
	color: #ff9100;
}

.menu li a:active{
	transform: scale(1.2);
}

.menu li:nth-child(2){
	animation-delay: 0.4s;
}

.menu li:nth-child(3){
	animation-delay: 0.8s;
}

.menu li:nth-child(4){
	animation-delay: 1.2s;
}

.menu li:nth-child(5){
	animation-delay: 1.6s;
}

.menu li:nth-child(6){
	animation-delay: 2s;
}















 /* Титульник Привет Я Андрей Браун включая кнопки Обо мне и Мои работы */ 

.main{
	background-image: url(../img/2background.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 1028px;
	display: block;	
}

.title__container{
	-webkit-animation: menuanim 6s forwards;
	-o-animation: menuanim 6s forwards;
	animation: menuanim 6s forwards;
	float: left;
	margin-left:20%;
	margin-top: 460px;
	text-align: center;
	
}

.title__container h1{
	color: #2c384a;
	font-size: 70px;
	font-family: "Franklin";
}

.title__container h2{
	color: #2c384a;
	font-size: 70px;
	font-family: "Franklin";
}

.title__container h4{
	color: #79818c;
	font-size: 20px;
	margin-top: 25px;
	font-family: "Franklin";
}

.title__container input{
	border: 1px solid #6d7682;
	margin-top: 40px;
	margin-left: 10px;
	font-size: 20px;
	padding: 7px 15px 7px 15px;
	border-radius: 5px; 
	color: #6d7682;
	font-family: "Franklin";
	
}

.title__container input{
	transition: all 0.3s;
	transform: scale(1);
	font-family: "Franklin";
}

.title__container input:hover{
	background:#6d7682;
	border: 1px solid white;
	color: white;
	transform: scale(1.1);
	font-family: "Franklin";
}

.title__container input:active{
	transform: scale(1.2);
	font-family: "Franklin";
}



















 /* Включает блок Обо мне до кнопки скачать резюме*/ 

.obomne{
	text-align:center;
	padding-top: 100px;
	font-size: 32px;
	color: #263244;
	font-weight: 1000;
	font-family: "Franklin";
}

.obomne img{
	margin-top: 70px;
	width: 200px;
	height: 200px;
}

.imgactive{
	position: fixed;
	left: 10px;
	opacity: 0;
	transition: all 0.3s;
}

.info{
	margin-top: 30px;
	font-size: 15px;
	margin-left: 33%;
	color: #3f495a;
	font-weight: 400;
}

.download{
	border: 1px solid #6d7682;
	border-radius: 5px; 
	color: #6d7682;
	margin-left: 47%;
	margin-top:30px;
	padding: 5px 10px 5px 10px;
	font-size: 13px;
	background-color: white;
	margin-bottom: 70px;
	transition: all 0.3s;
	transform: scale(1);
	font-family: 'Franklin';
}

.download:hover{
	transform: scale(1.1);
	color:white;
	background:#6d7682;
	font-family: 'Franklin';
}

.download:hover .imgactive{
	opacity: 1;
	font-family: 'Franklin';
}


















 /* Фон что я могу с информацией */ 

.fonctoiamogy{
	display: block;
	background-image: url(../img/HowMeMogu.jpg);
	background-repeat: no-repeat;
	padding-bottom: 345px;
	margin-top: 20px;
	text-align:center;
}

.ctoiamogy{
	text-align:center;
	padding-top: 100px;
	font-size: 30px;
	color: #263244;
	font-family: 'Franklin';
}

.fonctoiamogy img{
	width: calc(100%-40px);
	height: 40px;
	margin-bottom: 20px;
	-webkit-animation: volna 2s infinite;
	-o-animation: volna 2s infinite;
	animation: volna 2s infinite;
}

.Web_Styling{
	float: left;
	padding-left: 20%;
	padding-top: 100px;
	
}

.Web_Styling p{
	font-size: 14px;
	color: #3f495a;
}

.Web_Styling h4{
	font-size: 17px;
	color: #cf7600;
	margin-top:15px;
	font-family: 'Bruh';
}


.Web_Styling img{
	animation-delay: 0.5s;
}


.Working{
	float: left;
	padding-left: 80px;
	padding-top: 100px
}

.Working p{
	font-size: 14px;
	color: #3f495a;
}

.Working h4{
   font-size: 17px;
	color: #cf7600;
	margin-top:15px;
	font-family: 'Bruh';
}


.Working img{
	animation-delay: 1s;
}


.CEO_Optimization{
	float: left;
	padding-left: 80px;
	padding-top: 100px
}

.CEO_Optimization p{
	font-size: 14px;
	color: #3f495a;
}

.CEO_Optimization h4{
   font-size: 17px;
	color: #cf7600;
	margin-top:15px; 
	font-family: 'Bruh';
}


.CEO_Optimization img{
	animation-delay: 1.5s;
}


.Marketing{
	float: left;
	padding-left: 80px;
	padding-top: 100px
}

.Marketing p{
	font-size: 14px;
	color: #3f495a;
}

.Marketing h4{
	font-size: 17px;
	color: #cf7600;
	margin-top:15px;
	font-family: 'Bruh';
}
.Marketing img{
	animation-delay: 2s;
}

 /* Я сам в шоке от количества кода*/ 






















 /*Кейс с Сайтами... но там только статичная картинка...*/ 


.ceis{
	margin-top: 120px;
	text-align:center;
	font-size:30px;
	color: #384354;
	font-weight: bolder;
	
}

.textceis{
	text-align:center;
	margin-top: 40px;
	color: #3f495a;
}

.cartinkasmena p{
	background-image: url(../img/fotcasite.jpg);
	background-repeat: no-repeat;
	height: 592px;
}

.cartinkasmena{
  margin-left: 20%;
	margin-top: 40px;
}














 .Clientceis{
	float: left;
	margin-left: 19.5%;
}

.Clientceis p{
	margin-top: 10px;
	color: #3f495a;
}

.Webceis{
	float: left;
	margin-left: 19.5%;
}

.Webceis p{
	margin-top: 10px;
	color: #3f495a;
}

.nameceis{
	margin-left: 32%;
}

.nameceis p{
	margin-top: 5px;
	color: #3f495a;
	word-spacing: 3px;
	font-size: 17px;
}

.CaisBackGround h4{
    font-size: 20px;
	font-weight: 600;
	color: #384354;
}

.CaisBackGround h4{
    font-size: 20px;
}

.CaisBackGround{
	display: block;
	margin-top: 20px;
}

.sitevisitceis{
	margin-top: 65px;
	margin-left: 19.5%;
	border: 1px solid #63b5ae;
	border-radius: 3px;
	display: block;
	width: 150px;
	padding-top: 2px ;
	padding-bottom:2px ;
	text-align: center;
   background-color: #63b5ae;
	transition: all 0.3s;
}

.textsiteceis{
	background-color: #63b5ae;
	font-size: 13px;
	padding-top:6px; 
	padding-bottom:6px; 
	font-weight: bold;
	color:white;
	transition: all 0.3s;
	transform: scale(1);
}

.sitevisitceis:hover{
 	transform: scale(1.1);
	background: #539892;
}

.sitevisitceis:hover .textsiteceis{
	background: #539892;
	color: #cecece;
}















 /* Включает в себя Расчёт стоимости до информации Сроков и Стоимости */ 

.RascetName{
	margin-top: 150px;
	margin-bottom: 45px;
	font-size: 40px;
	text-align: center;
	color: #1c2534;
font-family: 'Franklin';
	
}


.racshet{
	margin-left: 30%;
	display: block;
	margin-top: 10px;
}


.List1OP12{
	text-align: center;
}

.racshet h3{
	
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	color: #1c2534;
}

.racshet select{
	width: 750px;
	height: 40px;
	background: #eeeeee;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	color: #737373;
	padding-left: 15px;
	margin-bottom: 10px;
	font-family: 'Franklin';
	font-size: 15px;
}

.racshet option{
	color: #737373;
	font-family: 'Franklin';
	font-size: 15px;
	
}

.itog{
	margin-left: 30%;
	font-weight: bold;
	color: #1c2534;
	font-size: 16px;
	margin-bottom: 150px;
}

.itognumber{
	float: right;
	margin-right: 45%;
	font-size: 22px;
	color: #1c2534;
	font-family: 'Franklin';
}

.Rascetstoimostic h3{
	font-family: 'Franklin';
	font-size: 25px;
}

















 /*Немного Статистики с информацией....*/ 

.fonestatistic{
	background-image: url(../img/fonestatistic.jpg);
	background-repeat: no-repeat;
	padding-bottom: 335px;
	margin-top: 30px;
	text-align:center;
	display: block;
}

.statistic{
	padding-top: 100px;
	font-size: 30px;
	color: #323d4f;
	text-transform: uppercase;
}

.fonestatistic img{
	width: calc(100%-40px);
	height: 40px;
	margin-bottom: 20px;
	-webkit-animation: volna 2s infinite;
	-o-animation: volna 2s infinite;
	animation: volna 2s infinite;
}

.SmilePeople{
	float: left;
	padding-left: 26%;
	padding-top: 75px
}

.SmilePeople img{
	animation-delay: 2s;
}

.SmilePeople p{
	color: #3f495a;
	font-weight: bold;
	font-size: 12px;
}

.SmilePeople h3{
	font-size: 30px;
	color: #323d4f;
	font-weight: bold;
	margin-top:5px;
	margin-bottom: 20px;
	font-family: 'Franklin';
}

.Coding{
	float: left;
	padding-left: 135px;
	padding-top: 75px
}

.Coding img{
	animation-delay: 1.5s;
}

.Coding p{
	color: #3f495a;
	font-weight: bold;
	font-size: 12px;
}

.Coding h3{
   font-size: 30px;
	color: #323d4f;
	font-weight: bold;
	margin-top:5px;
	margin-bottom: 20px;
	font-family: 'Franklin';
}

.ProjectCompleted{
	float: left;
	padding-left: 135px;
	padding-top: 75px
}

.ProjectCompleted p{
	color: #3f495a;
	font-weight: bold;
	font-size: 12px;
}

.ProjectCompleted h3{
   font-size: 30px;
	color: #323d4f;
	font-weight: bold;
	margin-top:5px;
	margin-bottom: 20px; 
	font-family: 'Franklin';
}

.ProjectCompleted img{
	animation-delay: 1s;
}

.WinWin{
	float: left;
	padding-left: 135px;
	padding-top: 75px
}

.WinWin p{
	color: #3f495a;
	font-weight: bold;
	font-size: 12px;
}

.WinWin h3{
	font-size: 30px;
	color: #323d4f;
	font-weight: bold;
	margin-top:5px;
	margin-bottom: 20px;
	font-family: 'Franklin';
}

.WinWin img{
	animation-delay: 0.5s;
}














 /*Тут вот Отзывы*/ 

.client{
	margin-top: 100px;
	text-align: center;
}

.client h2{
	font-size: 40px;
	color: #243042;
}

.client h4{
	color: #243042;
}

.client img{
	margin-top: 50px;
	margin-bottom: 30px;
}

.mixail{
	float: left;
	font-weight: bold;
}

.client h3{
	float: left;
	margin-top: 30px;
	color: #243042;
	display: block;
	margin-left: 44%;
}

.clientvalue input{
	margin-right: 20px;
}

.clientvalue{
	margin-top: 80px;
	text-align: center;
	color: orange;
	margin-bottom: 100px;
}

.clienture input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 12px;
  height: 12px;

  background: #cfd2d7;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

.clienture input:checked {
  background: #c96500;
}

.clientvalue input{
	margin-left: 10px;
}













/*Тут Контакт*/


.contact{
	text-align: center;
}

.contact h2{
	font-size: 30px;
	font-weight: bold;
}

.contact h3{
	font-size: 13px;
}

.contactfone img{
	width: calc(100%-25px);
	height: 25px;
}

.MyMapping{
	float: left;
}

.Emailing{
	float: left;
}


.telephone{
	float: left;
}

.DataInfo{
	display: block;
}



.soobjenie h3{
	font-size: 20px;
}

.namesoobjenie {
	float: left;
}

.namesoobjenie input{
	width: 350px;
	height: 30px;
	background: rgba(255, 255, 255, 0.8);
	font-weight: bold;
}

.Emailsoobjenie {
	float: left;
	
}

.Emailsoobjenie input{
	width: 350px;
	height: 30px;
	background: rgba(255, 255, 255, 0.8);
	padding-left: 10px;
	font-weight: bold;
}
   

.SMSsoobjenie input{
	width: 727px;
	height: 90px;
	background: rgba(255, 255, 255, 0.8);
	padding-left: 10px;
	font-weight: bold;
	padding-bottom: 60px;
}

.SMSsoobjenie{
	padding-left: 0.5%;
}

.Givesoobjenie{
	padding-top: 20px;
	padding-left: 23%;
}


.Givesoobjenie input{
	width: 110px;
	height: 40px;
	border: 1px solid white;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0);
	color: white;
	font-size: 15px;
	font-weight: bold;
	transition: all 0.3s;
	transform: scale(1);
}

.Givesoobjenie input:hover{
	background: rgb(255, 255, 255);
	color: black;

}

.Givesoobjenie input:active{
	transform: scale(1.1);

}

.soobjenie{
	padding-top: 200px;
	display: block;
   margin-left: 30%;
}










/*Тут несуществующая карта*/

.world{
	border: 10px solid black;
	width: 100%;
	height: 350px;
}

.world h4{
	position: relative;
	left: 847px;
	bottom: 50px;
	color: white;
	border: 1px solid black;
	width: 200px;
	height: 50px;
	text-align: center;
	padding-top: 17px;
	font-size: 16px;
	font-weight: bold;
	opacity: 0
}

.world h3{
	border: 1px solid black;
	width: 200px;
	height: 50px;
	margin-top: 140px;
	margin-left: 45%;
	text-align: center;
	padding-top: 17px;
	background: black;
	color: white;
	font-size: 16px;
	font-weight: bold;
	opacity: 1
}

.world:hover h4{
	position: relative;
	left: 847px;
	bottom: 50px;
	color: white;
	border: 1px solid black;
	width: 200px;
	height: 50px;
	text-align: center;
	padding-top: 17px;
	font-size: 16px;
	font-weight: bold;
	background: black;
	opacity: 1
}

.world:hover h3{
	opacity: 0
}














 /*   <Адаптивность>   */
   
@media (max-width : 1600px){
	
	.main{
	background-image: url(../img/2background1600.jpg);
	width: 100%;
    height: 857px;
	}
	
		.menu{
	padding-left: 20%;
}
	
	.title__container h1{
	
	font-size: 60px;
}

.title__container h2{
	font-size: 60px;
}
	
	.info{
	margin-left: 30%;
}
	

	
	.download{
	margin-left: 46%;
}
	
.Web_Styling{
	padding-left: 15%;
	
}

	.racshet{
	margin-left: 27%;
}
	
	.SmilePeople{
	padding-left: 22%;
}
	
	
	.Clientceis{
	margin-left: 14%;
}
	
	.Webceis{
	margin-left: 14%;
}
	
.sitevisitceis{
	margin-left: 14%;
}	
	
	
.nameceis{
	margin-left: 28%;
}
	
	.client h3{
	margin-left: 42%;
}
	
	.DataInfo{
	margin-left: 27%;
}
	
.soobjenie h3{
	font-size: 20px;
	padding-bottom: 50px;
	padding-left: 20%;
}
	
	
.soobjenie{
   margin-left: 27%;
}
	
	.world:hover h4{
	margin-left: -200px;
}
	
	.cartinkasmena{
  margin-left: 13%;
}
	
}






@media (max-width : 1341px){
	
	.Web_Styling{
	padding-left: 4%;
	
}
	
	.SmilePeople{
	padding-left: 17%;
}
	
	.world:hover h4{
	margin-left: 42%;
}
	
		.menu{
	padding-left: 10%;
}
	.info{
	margin-left: 25%;
}
	
	.title__container{
	margin-top: 300px;
}
	
	.download{
	margin-left: 45%;
}
	
	.racshet{
	margin-left: 22%;
}
	
	
	.Clientceis{
	margin-left: 8%;
}
	
	.Webceis{
	margin-left: 8%;
}
	
.sitevisitceis{
	margin-left: 8%;
}	
	
	
.nameceis{
	margin-left: 25%;
}
	
	.client h3{
	margin-left: 40%;
}
	
	.DataInfo{
	margin-left: 27%;
}
	
.soobjenie h3{
	font-size: 20px;
	padding-bottom: 50px;
	padding-left: 20%;
}
	
	
.soobjenie{
   margin-left: 27%;
}
	
	.cartinkasmena{
  margin-left: 7%;
}
	
}





@media (max-width : 1200px){
	
	.main{
	background-image: url(../img/2background1200.jpg);
	width: 100%;
    height: 643px;
	}
	
	
	.title__container h1{
	
	font-size: 50px;
}

.title__container h2{
	font-size: 50px;
}
	
	
	
	
	
	
	
	
	
		.Web_Styling{
	padding-left: 2%;
	
}
	
	.SmilePeople{
	padding-left: 12%;
}
	
	.world:hover h4{
	margin-left: 42%;
}
	
		.menu{
	padding-left: 10%;
}
	.info{
	margin-left: 25%;
}
	
	.title__container{
	margin-top: 300px;
}
	
	.download{
	margin-left: 45%;
}
	
	.racshet{
	margin-left: 22%;
}
	
	
	.Clientceis{
	margin-left: 8%;
}
	
	.Webceis{
	margin-left: 8%;
}
	
.sitevisitceis{
	margin-left: 8%;
}	
	
	
.nameceis{
	margin-left: 25%;
}
	
	.client h3{
	margin-left: 40%;
}
	
	.DataInfo{
	margin-left: 22%;
}
	
.soobjenie h3{
	font-size: 20px;
	padding-bottom: 50px;
	padding-left: 25%;
}
	
	
.soobjenie{
   margin-left: 20%;
}
	
	.cartinkasmena{
  margin-left: 17%;
}
	.cartinkasmena p{
  background-image: url(../img/fotcasite800.jpg);
	height: 405px;
}

}








@media (max-width : 1164px){
	
	.fonctoiamogy img{
	height: 30px;
	margin-bottom: 20px;
	-webkit-animation: volna 2s infinite;
	-o-animation: volna 2s infinite;
	animation: volna 2s infinite;
}

	
		.Web_Styling{
	padding-left: 13%;
}
	
	.Web_Styling h4{
	font-size: 15px;
}
	
	.Web_Styling p{
	font-size: 12px;
}
	
	
	
	
	.Working{
	padding-left: 2%;
}
	
	.Working h4{
	font-size: 16px;
}
	
	.Working p{
	font-size: 12px;
}
	
	
	
	
	
	.CEO_Optimization{
	padding-left: 2%;
}
	
	.CEO_Optimization h4{
	font-size: 16px;
}
	
	.CEO_Optimization p{
	font-size: 12px;
}
	
	
	
	
	.Marketing{
	padding-left: 2%;
}
	
	.Marketing h4{
	font-size: 16px;
}
	
	.Marketing p{
	font-size: 12px;
}
	
	
	
	
	.SmilePeople{
	padding-left: 12%;
}
	
	.world:hover h4{
	margin-left: 42%;
}
	
		.menu{
	padding-left: 10%;
}
	.info{
	margin-left: 25%;
}
	
	.title__container{
	margin-top: 300px;
}
	
	.download{
	margin-left: 45%;
}
	
	.racshet{
	margin-left: 22%;
}
	
	
	.Clientceis{
	margin-left: 8%;
}
	
	.Webceis{
	margin-left: 8%;
}
	
.sitevisitceis{
	margin-left: 8%;
}	
	
	
.nameceis{
	margin-left: 25%;
}
	
	.client h3{
	margin-left: 40%;
}
	
	.DataInfo{
	margin-left: 22%;
}
	
.soobjenie h3{
	font-size: 20px;
	padding-bottom: 50px;
	padding-left: 25%;
}
	
	
.soobjenie{
   margin-left: 20%;
}

	.lineob{
  margin-left: 47%;
}
	
.cartinkasmena{
  margin-left: 17%;
}
	
}



@media (max-width : 1027px){
	
	
	
}




	
	

	
	







 /*   </Адаптивность>   */ 

















/*А тут уже конечный блок... Copyright © 2021 Андрей Браун. Design by Web*/

.end{
	border: 1px solid #354051;
	background: #354051;
	text-align: center;
	width: 100%;
	height: 60px;
	color: white;
	padding-top: 25px;
}