/*HitBOX*//*HitBOX*//*HitBOX*//*HitBOX*

body section{
	border: 1px solid #00ff40;
}

/*HitBOX*//*HitBOX*//*HitBOX*//*HitBOX*/



/*Доп Элементы*//*Доп Элементы*//*Доп Элементы*//*Доп Элементы*//*Доп Элементы*/

.line-op{
	background-color: #d87003;
	width: 70px;
	height: 5px;
}

.text-color{
	color: #38475a;
}





/*Доп Элементы*//*Доп Элементы*//*Доп Элементы*//*Доп Элементы*//*Доп Элементы*/







@font-face {
	font-family: 'Font-1';
	src: url('../fonts/BAHNSCHRIFT.eot');
	src: local('☺'), url('../fonts/BAHNSCHRIFT.woff') format('woff'), url('../fonts/BAHNSCHRIFT.ttf') format('truetype'), url('../fonts/BAHNSCHRIFT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Font-2';
	src: url('../fonts/Franklin Gothic Medium Regular.eot');
	src: local('☺'), url('../fonts/Franklin Gothic Medium Regular.woff') format('woff'), url('../fonts/Franklin Gothic Medium Regular.ttf') format('truetype'), url('../fonts/Franklin Gothic Medium Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Font-3';
	src: url('../fonts/calibri-regular.eot');
	src: local('☺'), url('../fonts/calibri-regular.woff') format('woff'), url('../fonts/calibri-regular.ttf') format('truetype'), url('../fonts/calibri-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}















 /*   <Анимации>   */

@keyframes Anim-Menu-1{
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}

@keyframes Anim-Menu-2{
	0%{
		opacity: 0;
		margin-top: -80px;
	}
	
	100%{
		opacity: 1;
		margin-top: 5px;
	}
}

@keyframes Anim-Menu-3{
	0%{
		opacity: 0;
		margin-top: -80px;
	}
	
	100%{
		opacity: 1;
		margin-top: 0px;
	}
}

@keyframes Anim-Title{
	0%{
		position: relative;
		opacity: 0;
		right: 1000px;
	}
	
	100%{
		position: relative;
		opacity: 1;
		right: 0px;
	}
}

@keyframes Anim-Volna{
	0%{
		position: relative;
		top: 0px;
	}
	
	50%{
		position: relative;
		top: -5px;
	}
	
	100%{
		position: relative;
		top: 0px; 
	}
}


 /*   </Анимации>   */ 








/*Меню *//*Меню *//*Меню *//*Меню *//*Меню *//*Меню *//*Меню *//*Меню *//*Меню */

header{
color: white;
background-color: #2a3e51;
height: 60px;
display: block;
position: fixed;
z-index: 100;
width: 100%;
}

header li{
	float: left;
	margin-right: 30px;
	margin-top: 5px;
}

.Pos-MENU{
	margin-top: 15px;
	display: block;
	font-weight: 600;
}

.Pos-Tel-MENU{
	display: none;
}

.Objective-header{
position: relative;
	top: 0px;
height: 60px;
width: 100%;
}

.Text-Menu-1{
	-webkit-animation: Anim-Menu-1 2s forwards;
    -o-animation: Anim-Menu-1 2s forwards;
    animation: Anim-Menu-1 2s forwards;
}

.Text-Menu-2 li{
	-webkit-animation: Anim-Menu-2 2s forwards;
    -o-animation: Anim-Menu-2 2s forwards;
    animation: Anim-Menu-2 2s forwards;
	opacity: 0;
}

.Text-Menu-2 li:nth-child(2){
	animation-delay: 0.4s;
}

.Text-Menu-2 li:nth-child(3){
	animation-delay: 0.8s;
}

.Text-Menu-2 li:nth-child(4){
	animation-delay: 1.2s;
}

.Text-Menu-2 li:nth-child(5){
	animation-delay: 1.6s;
}

.Text-Menu-2 li:nth-child(6){
	animation-delay: 2s;
}

.Text-Menu-3{
	-webkit-animation: Anim-Menu-3 1s forwards;
    -o-animation: Anim-Menu-3 1s forwards;
    animation: Anim-Menu-3 1s forwards;
}

/*Меню *//*Меню *//*Меню *//*Меню *//*Меню *//*Меню *//*Меню *//*Меню *//*Меню */






















/*Титульник*//*Титульник*//*Титульник*//*Титульник*//*Титульник*//*Титульник*/

.IMG-Stabilizator-MAIN{
	position: absolute;
	z-index: -1;
	opacity: 1;
}

.title-container{
    -webkit-animation: Anim-Title 6s forwards;
    -o-animation: Anim-Title 6s forwards;
    animation: Anim-Title 6s forwards;
}

.text-m1{
	margin-top: 400px;
	color: #213549;
	font-size: 60px;
	font-weight: 650;
}

.text-m2{
	margin-top: -5px;
	color: #76828e;
	font-size: 15px;
	font-weight: 650;
	letter-spacing: -1px;
}

.text-m1 p{
	position: relative;
	bottom: 10px;
}

.button-m-R button{
	float: right;
}

.button-m-L button{
	float: left;
}

.button-m-box{
	margin-right: 650px;
	margin-top: 40px;
	animation-duration: 1s;
	transform: scale(1)
}

.button-m-box button{
	border: 1px solid #4a545d;
	font-weight: 700;
}


/*Титульник*//*Титульник*//*Титульник*//*Титульник*//*Титульник*//*Титульник*/


















/*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*/

.Section-OboMne{
	margin-top: 440px;
}

.text-op-m1{
	font-size: 30px;
	font-weight: 600;
	color: #1a2e43;
	
}

.button-say button{
	 border: 2px solid #6f7180;
	transform: scale(1);
}

.button-say button img{
	margin-bottom: 5px;
}

.button-say-hover-1{
	position: fixed;
	top: 8px;
	left: 11px;
	opacity: 0;
}

.button-say-hover-0{
	opacity: 1;
}

.button-say button:hover .button-say-hover-1{
	opacity: 1;
}

.button-say button:hover .button-say-hover-0{
	opacity: 0;
}

/*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*//*ОБО МНЕ*/






















/*Навыки*//*Навыки*//*Навыки*//*Навыки*//*Навыки*//*Навыки*//*Навыки*//*Навыки*/

.Section-skill{
	margin-top: 100px;
}

.text-margin-down{
	margin-top: 90px;
}

.container-all{
	display: inline-block;
}

.container-all img{
	 -webkit-animation: Anim-Volna 2s infinite;
    -o-animation: Anim-Volna 2s infinite;
    animation: Anim-Volna 2s infinite;
}



.container-work img{
	animation-delay: 0.5s;
}

.container-optimization img{
	animation-delay: 1s;
}

.container-marketing img{
	animation-delay: 1.5s;
}

.IMG-Stabilizator-op{
	float: left;
	margin: 75px 100px 0px 100px;
	height: 35px;
}

.text-orange-op{
	margin-top: 140px;
	font-size: 15px;
	color: #d87003;
	font-weight: 620;
}

.text-skill{
	width: 200px;
	font-size: 11px;
	text-align: center;
	margin-left: 30px;
	margin-top: 10px;
}


/*Навыки*//*Навыки*//*Навыки*//*Навыки*//*Навыки*//*Навыки*//*Навыки*//*Навыки*/






















/*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*/




.Text-Ceis-Otstup{
	margin-left: 60px;
}

.Text-Container-Ceis{
	margin-top: 50px;
}

.text-telephone-Ceis{
	display: none;
}

.Text-Ceis-1{
	font-size: 20px;
	font-weight: 700;
}

.Text-Ceis-2{
	position: relative;
	left: 2px;
}

.Button-Ceis{
	margin-top: 15px;
	padding: 5px 30px 5px 30px;
	font-size: 18px;
	font-weight: 501;
	background-color: #00b6af;
	border: 2px solid #00b6af;
	white-space: pre; 
}

.Button-Ceis:hover{
	background-color: #01a6a0;
	border: 2px solid #01a6a0;
}



.Text-Ceis-Otstup-op{
	margin-top: -165px;
	z-index: 100px;
	position: relative;
	right: 100px;
}

.Section-Сeis{
	margin-top: 210px;
}

.Rascet-border{
	padding-bottom: 30px;
}
/*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*//*Кейсы*/





















/*Расчёт*//*Расчёт*//*Расчёт*//*Расчёт*//*Расчёт*//*Расчёт*//*Расчёт*//*Расчёт*/


.Section-Rascet{
	margin-top: 200px;
}

.Rascet-border{
	border: 1px solid white;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 1000px;
}

.Text-Rascet-1{
	margin-top: 20px;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	color: #102032;
}

.Text-Rascet-2{
	margin-top: 20px;
	font-size: 25px;
	font-weight: 600;
	color: #102032;
}

.Rascet-Otstup{
	margin-left: 20px;
}

.Rascet-Option{
	background-color: #efefef;
	border: 1px solid #efefef;
	border-radius: 2px;
	margin-left: -10px;
	width:  98%;
	height: 50px;
	margin-top: 15px;
	color: rgba(0,0,0,0.4);
	font-weight: 600;
	padding-left: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	
	background-image: url(../img/galochka-select.png);
	background-repeat: no-repeat, repeat;
	background-position: right 25px top 50%, 0 0;
	background-size: 18px auto, 100%;
}

.Text-Otstup-Rascet{
	position: relative;
	left: 200px;
}

.line-gw{
	display: inline;
	background-color: #d2d2d2;
	width: 94%;
	height: 2px;
	margin-top: 30px;
}

.Text-Rascet-3{
	font-size: 15px;
	margin-left: 20px;
	margin-top: 15px;
	font-weight: 600;
	color: #102032;
}

.Text-Rascet-4{
	font-size: 20px;
	margin-top: 10px;
	font-weight: 600;
	color: #102032;
}

.right-position-rascet{
	float: right;
	margin-top: -80px;
	margin-right: 10px;
}

.Button-Ceis-2{
	margin-top: 15px;
	padding: 5px 30px 5px 30px;
	font-size: 18px;
	font-weight: 501;
	background-color: #00b6af;
	border: 2px solid #00b6af;
	white-space: pre; 
}

.Button-Ceis-2:hover{
	background-color: #01a6a0;
	border: 2px solid #01a6a0;
}


/*Расчёт*//*Расчёт*//*Расчёт*//*Расчёт*//*Расчёт*//*Расчёт*//*Расчёт*//*Расчёт*/

























/*Статистика*//*Статистика*//*Статистика*//*Статистика*//*Статистика*//*Статистика*/

.Section-stat{
	margin-top: 30px;
}

.IMG-Stabilizator-op-2{
	float: left;
	margin: 75px 100px 0px 100px;
	height: 45px;
}

.text-impact-op{
	margin-top: 140px;
	font-size: 30px;
	font-weight: 620;
	color: #293b4f;
	
}

.text-stat{
	color: #293b4f;
	width: 200px;
	font-size: 13px;
	text-align: center;
	margin-left: 30px;
	margin-top: 10px;
	font-weight: 620;
}


/*Статистика*//*Статистика*//*Статистика*//*Статистика*//*Статистика*//*Статистика*/

























/*Отзывы*//*Отзывы*//*Отзывы*//*Отзывы*//*Отзывы*//*Отзывы*//*Отзывы*//*Отзывы*/

.Section-Otzuv{
	margin-top: 250px;
}

.Name{
	display: inline;
	font-weight: 601;
}

.Client-Value input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #cfd2d7;
    transition: 0.2s all linear;
    outline: none;
	margin-top: 50px;
}

.Client-Value input:checked {
    background: #c96500;
}

.Client-Value-1{
	position: relative;
	right: 20px;
}


.Client-Value-3{
	position: relative;
	left: 20px;
}

/*Отзывы*//*Отзывы*//*Отзывы*//*Отзывы*//*Отзывы*//*Отзывы*//*Отзывы*//*Отзывы*/






















/*Контакты*//*Контакты*//*Контакты*//*Контакты*//*Контакты*//*Контакты*/

.Section-Contact{
	margin-top: 80px;
}

.color-white{
	color: white;
}

.text-contact-otstup-1{
	margin-top: 95px;
}

.text-contact-otstup-2{
	margin-top: 25px;
}

.IMG-Stabilizator-op-3{
	float: left;
	margin: 50px 100px 10px 100px;
	height: 25px;
}

.container-Mail{
	position: relative;
	top: -20px;
}

.container-Telephone{
	position: relative;
	top: -20px;
}

.text-op-m2{
	font-size: 18px;
	font-weight: 600;
}

.standart-contact-form{
	background-color: rgba(255 , 255 , 255 , 0.8);
	border: 1px solid rgba(255 , 255 , 255 , 0.8);
	border-radius: 0px;
	color: #5c5d5e;
	font-weight: 600;
}

.standart-contact-form:hover{
	background-color: rgba(255 , 255 , 255 , 0.8);
	border: 1px solid rgba(255 , 255 , 255 , 0.8);
	border-radius: 0px;
}


.contact-text-down{
	margin-top: 30px;
}

.standart-contact-size{
	height: 90px;
	padding-bottom: 60px;
}

.button-contact{
	margin-top: 20px;
	border: 2px solid white;
	color: white;
	font-weight: 600;
	animation:5s
}

.button-contact:hover{
	background-color: white;
	color: black;
	animation-duration: 2s;
}

.contact-telephone{
	display: none;
}

.contact-PC{
	display: block;
}
/*Контакты*//*Контакты*//*Контакты*//*Контакты*//*Контакты*//*Контакты*/





/*Копирайтинг*//*Копирайтинг*//*Копирайтинг*//*Копирайтинг*//*Копирайтинг*/

footer{
	background-color: #2c3e51;
	height: 50px;
	margin-top: 190px;
	padding-top: 15px;
}

/*Копирайтинг*//*Копирайтинг*//*Копирайтинг*//*Копирайтинг*//*Копирайтинг*/










/*Адаптивность*//*Адаптивность*//*Адаптивность*//*Адаптивность*//*Адаптивность*/

/*1800px*//*1800px*//*1800px*//*1800px*//*1800px*/

@media(max-width : 1800px){
	.Section-OboMne{
	margin-top: 370px;
}

	.Section-Сeis{
	margin-top: 180px;
}
	
	.Section-Otzuv{
	margin-top: 200px;
}
	
	footer{
	margin-top: 142px;
}
}

/*1800px*//*1800px*//*1800px*//*1800px*//*1800px*/





/*1700px*//*1700px*//*1700px*//*1700px*//*1700px*/

@media(max-width : 1700px){
	.Section-OboMne{
	margin-top: 300px;
}
	.text-margin-down{
	margin-top: 40px;
}
	
	.Section-Сeis{
	margin-top: 210px;
}
	
	footer{
	margin-top: 100px;
}
}

/*1700px*//*1700px*//*1700px*//*1700px*//*1700px*/





/*1600px*//*1600px*//*1600px*//*1600px*//*1600px*/

@media(max-width : 1600px){
	.text-m1{
	margin-top: 350px;
	font-size: 55px;
}

	.Section-Сeis{
	margin-top: 180px;
}
	
	footer{
	margin-top: 50px;
}
}

/*1600px*//*1600px*//*1600px*//*1600px*//*1600px*/






/*1500px*//*1500px*//*1500px*//*1500px*//*1500px*/

@media(max-width : 1500px){
	.Section-OboMne{
	margin-top: 270px;
}
	
	.Section-Сeis{
	margin-top: 150px;
}
	
	.Section-Otzuv{
	margin-top: 150px;
}
	
	.text-contact-otstup-1{
	margin-top: 30px;
}
}

/*1500px*//*1500px*//*1500px*//*1500px*//*1500px*/





/*1400px*//*1400px*//*1400px*//*1400px*//*1400px*/

@media(max-width : 1400px){
	.Section-OboMne{
	margin-top: 230px;
}
	
	.text-margin-down{
	margin-top: 15px;
}
	
	.Section-Сeis{
	margin-top: 130px;
}
}

/*1400px*//*1400px*//*1400px*//*1400px*//*1400px*/





/*1399px*//*1399px*//*1399px*//*1399px*//*1399px*/

@media (max-width : 1399px) {
	.button-m-box{
	margin-right: 600px;
}
	
	.Text-Ceis-Otstup-op{
	right: 30px;
}
	
	.Text-Ceis-Otstup{
	margin-left: 0px;
}
	
	.IMG-Stabilizator-op-2{
	height: 35px;
	margin: 90px 100px 0px 100px;
}
	
	
	
	
	
	
	

}

/*1399px*//*1399px*//*1399px*//*1399px*//*1399px*/






/*1350px*//*1350px*//*1350px*//*1350px*//*1350px*/

@media(max-width : 1350px){
	.Section-Contact{
		background-image: url(../img/fonecontact.jpg);
		padding-bottom: 20px;
	}
	
	footer{
	margin-top: 0px;
}
}

/*1350px*//*1350px*//*1350px*//*1350px*//*1350px*/





/*1300px*//*1300px*//*1300px*//*1300px*//*1300px*/

@media(max-width : 1300px){
	.text-m1{
	margin-top: 300px;
	font-size: 50px;
	}
	
	.button-m-box{
		transform: scale(0.8);
		margin-top: 10px;
	}
	
	.Section-OboMne{
	margin-top: 270px;
}
	
	.Section-Сeis{
	margin-top: 100px;
}
}

/*1300px*//*1300px*//*1300px*//*1300px*//*1300px*/






/*1200px*//*1400px*//*1400px*//*1400px*//*1400px*/

@media(max-width : 1200px){
	.Section-OboMne{
	margin-top: 200px;
}
	
	.IMG-Stabilizator-op{
	margin: 25px 100px 0px 100px;
	height: 35px;
}
	
	.text-orange-op{
	margin-top: 80px;
	font-size: 15px;
}
	
	.Section-Сeis{
	margin-top: 140px;
}
	
	
}

/*1200px*//*1400px*//*1400px*//*1400px*//*1400px*/



	
	

/*1199px*//*1199px*//*1199px*//*1199px*//*1199px*/

	@media(max-width : 1199px){
	.text-m2{
		margin-left: 120px;
		}
		.text-m1{
	margin-top: 200px;
	font-size: 40px;
}
		
		.text-orange-op{
	margin-top: 80px;
	font-size: 15px;
}
	
		
		.button-m-box{
	margin-right: 500px;
			
}
		
		.Section-OboMne{
	margin-top: 300px;
}
		
		.Section-skill{
			background-image: url(../img/HowMeMogu.jpg);
		}
	
		.Section-Сeis{
	margin-top: 90px;
}
		
		.Section-stat{
	background-image: url(../img/fonestatistic.jpg);
			background-repeat: no-repeat;
}
		
		.position-stabilizator-stat{
			position: relative;
			top: -50px;
		}
		
	.Section-Otzuv{
	margin-top: 70px;
}
		
		.text-contact-otstup-2{
			margin-bottom: 20px;
		}
		
		.container-work img{
	animation-delay: 1s;
}

.container-optimization img{
	animation-delay: 0s;
}

.container-marketing img{
	animation-delay: 1s;
}
}

/*1199px*//*1199px*//*1199px*//*1199px*//*1199px*/	





/*1100px*//*1100px*//*1100px*//*1100px*//*1100px*/

@media(max-width : 1100px){
	.Section-OboMne{
	margin-top: 250px;
}
}

/*1100px*//*1100px*//*1100px*//*1100px*//*1100px*/





/*1000px*//*1000px*//*1000px*//*1000px*//*1000px*/

@media(max-width : 1000px){
	.Section-OboMne{
	margin-top: 200px;
}
}

/*1000px*//*1000px*//*1000px*//*1000px*//*1000px*/





/*992px*//*992px*//*992px*//*992px*//*992px*/

@media(max-width : 992px){
	.header ul{
	display: none;
}
	.Pos-Tel-MENU{
	display: inline;
	position: absolute;
	right: 200px;
	top: 15px;
}
	
	.Pos-MENU ul{
		display: none;
	}
	
	
	
	.Text-Ceis-Otstup-op{
	margin-top: 0px;
	z-index: 0px;
	position: static;
		display: none;
}
	
	.text-center-lg{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.text-telephone-Ceis{
	display: block;
		margin-bottom: 20px;
	}
	
	.Ceis-Client{
		float: left;
	}
	
	.Ceis-Website{
		float: right;
	}
	
	.Website-p-Otstup{
		margin-left: 90px;
	}
	
	.Button-Ceis{
		margin-top: 70px;
	}
	
	.Button-Otstup-Ceis{
		text-align: center;
	}
	
	.Button-Telephone-Otstup-1{
		margin-left: 60px;
	}
}
/*992px*//*992px*//*992px*//*992px*//*992px*/





/*991px*//*991px*//*991px*//*991px*//*991px*/

@media(max-width : 991px){
	.text-m2{
		margin-left: 60px;
		}
	
	.text-m1{
	margin-top: 150px;
	font-size: 30px;
}
	
	.button-m-box{
		transform: scale(1);
		margin-top: 10px;
		
	}
	
	.button-m-R{
		margin-top: 10px;
		margin-left: 60px;
	}
	
	.button-m-R button{
		padding: 5px 40px 5px 40px;
	}
	
	.button-m-L{
		margin-top: 10px;
		margin-left: 100px;
	}
	
	.button-m-L button{
		padding: 5px 30px 5px 30px;
	}
	
	.Section-OboMne{
	margin-top: 230px;
}
	
	.Section-Rascet{
	margin-top: 100px;
}
	
}

/*991px*//*991px*//*991px*//*991px*//*991px*/






/*900px*//*900px*//*900px*//*900px*//*900px*/

@media(max-width : 900px){
	.Section-OboMne{
	margin-top: 150px;
}
}

/*900px*//*900px*//*900px*//*900px*//*900px*/





/*800px*//*800px*//*800px*//*800px*//*800px*/

@media(max-width : 800px){
	.Section-OboMne{
	margin-top: 100px;
}
}

/*800px*//*800px*//*800px*//*800px*//*800px*/





/*767px*//*767px*//*767px*//*767px*//*767px*/

@media(max-width : 767px){
	.text-m2{
		margin-left: 20px;
		font-size: 12px;
		margin-top: -15px;
		}
	.text-m1{
	margin-top: 100px;
	font-size: 20px;
}
	
	
	.Pos-Tel-MENU{
	right: 100px;
}
	
	
	.button-m-box{
		white-space:pre;
	}
	
	.button-m-box button{
		white-space:pre;
		font-size: 10px;
	}
	
	.button-m-R{
		margin-top: 10px;
		margin-left: 180px;
	}
	
	.button-m-R button{
		padding: 5px 40px 5px 40px;
	}
	
	.button-m-L{
		margin-top: 10px;
		margin-left: 65px;
	}
	
	.button-m-L button{
		padding: 5px 30px 5px 30px;
	}
	
	
	.Section-OboMne{
	margin-top: 200px;
}
	
	.Button-Telephone-Otstup-1{
		margin-left: 20px;
	}
	
	.Section-stat{
	background-repeat: repeat;
}
	
	.contact-telephone{
	display: block;
}

.contact-PC{
	display: none;
}
	
	.position-stabilizator-stat{
			position: relative;
			top: 0px;
		}
	
	.container-work img{
	animation-delay: 0s;
}

.container-optimization img{
	animation-delay: 0s;
}

.container-marketing img{
	animation-delay: 0s;
}
}

/*767px*//*767px*//*767px*//*767px*//*767px*/





/*700px*//*700px*//*700px*//*700px*//*700px*/

@media(max-width : 700px){
	.Section-OboMne{
	margin-top: 160px;
}
}

/*700px*//*700px*//*700px*//*700px*//*700px*/





/*600px*//*600px*//*600px*//*600px*//*600px*/

@media(max-width : 600px){
	
	.text-m2{
		font-size: 10px;
		margin-top: -15px;
		}
	
	.Section-OboMne{
	margin-top: 100px;
}
}

/*600px*//*600px*//*600px*//*600px*//*600px*/





/*575px*//*575px*//*575px*//*575px*//*575px*/

@media(max-width : 575px){
	
	.button-m-box{
		position: absolute;
		top: 240px;
		left: 80px;
	}
	
	.button-m-box button{
		white-space:pre;
		font-size: 10px;
	}
	
	.button-m-R{
		float: none;
		margin-top: -60px;
		margin-left: 0px;
		
	}
	
	.button-m-R button{
		padding: 5px 40px 5px 40px;
	}
	
	.button-m-L{
		float: none;
		margin-top: -20px;
		margin-left: 0px;
	}
	
	.button-m-L button{
		padding: 5px 30px 5px 30px;
	}
	
	.Section-OboMne{
	margin-top: 200px;
}
	
	.Rascet-border{
	width: 95%;
}
	
	.Pos-Tel-MENU{
	right: 10px;
}
}

/*575px*//*575px*//*575px*//*575px*//*575px*/





/*500px*//*500px*//*500px*//*500px*//*500px*/

@media(max-width : 500px){
	.text-m1{
	margin-top: 70px;
	font-size: 20px;
}
	
	.button-m-box{
		position: absolute;
		top: 200px;
		left: 60px;
	}
	
	.Section-OboMne{
	margin-top: 170px;
}
	
	.Button-Telephone-Otstup-1{
		margin-left: -10px;
	}
	
	.button-m-R{
		margin-top: -40px;
		
	}
.button-m-L{
		float: none;
		margin-top: -10px;
	}
}

/*500px*//*500px*//*500px*//*500px*//*500px*/





/*450px*//*450px*//*450px*//*450px*//*450px*/

@media(max-width : 450px){
	.text-m1{
	margin-top: 40px;
	font-size: 20px;
}
	
	
	
	
	.button-m-box{
		position: absolute;
		top: 180px;
		left: 55px;
	}
	
	.button-m-box button{
		white-space:pre;
		font-size: 8px;
	}
	
	
	
	.button-m-R button{
		padding: 5px 40px 5px 40px;
	}
	
	
	
	.button-m-L button{
		padding: 5px 30px 5px 30px;
	}
	
	.Button-Telephone-Otstup-1{
		margin-left: -30px;
	}
	
	.button-m-R{
		margin-top: -50px;
		
	}
.button-m-L{
		float: none;
		margin-top: -20px;
	}
}

/*450px*//*450px*//*450px*//*450px*//*450px*/





/*400px*//*400px*//*400px*//*400px*//*400px*/

@media(max-width : 400px){
	.text-m2{
		margin-left: 10px;
		}
	
	.button-m-box{
		position: absolute;
		top: 150px;
		left: 35px;
	}
	
	.text-m1{
		margin-top: 10px;
		}
	
	.Button-Telephone-Otstup-1{
		margin-left: -50px;
	}
}

/*400px*//*400px*//*400px*//*400px*//*400px*/





/*Адаптивность*//*Адаптивность*//*Адаптивность*//*Адаптивность*//*Адаптивность*/


body{
 overflow-x: hidden;	
}